

<table >
  

  <% @links.each do |link| %>
    <tr>  
        <td class="content_image">
         <% if link.image.url != '/images/original/missing.png' %>
          <%=link_to (image_tag(link.image.url(:thumb_plus))), link.url, rel: "nofollow noopener noreferrer", target: "blank" %>
          <% else %>
         <div class="missing_image"> <%=link_to link.url, link.url, rel: "nofollow noopener noreferrer", target: "blank" %>
         </div>
          <% end %>
         
</td>

 <td class="second"><h2><%= link_to link.title, link_path(link) %></h1> 
      <p><%= link.description %></p>
   
  
       <button type="button" class="btn btn-outline-info btn-sm"><%= link_to  like_link_path(link), method: :put do %>
         likes <span class="glyphicon glyphicon-thumbs-up"></span>
          <%= link.get_upvotes.size %>
          <% end %>
        </button>

        <button type="button" class="btn btn-outline-info btn-sm"><%= link_to  dislike_link_path(link), method: :put do %>
          dislike <span class="glyphicon glyphicon-thumbs-down"></span>
          <%= link.get_downvotes.size %>
          <% end %>
        </button>
            <% if current_user == link.user|| current_user.class == User && current_user.admin == true %>

      
</td>
<td class="third">
 <%= link_to 'Edit', edit_link_path(link) %> 
 <br>
 <br>

        <%= link_to 'Delete', link, method: :delete, data: { confirm: 'All information about the website you did before will be destroyed, are you sure?' } %>
</td>

      </tr>    
      <% end %>
    <% end %>
 
</table>
</div>


