

<table  >
  

  <% @links.each do |link| %>
    <tr>  
        <td class="content_image"><%=link_to (image_tag(link.image.url(:thumb_plus))), link.url, rel: "nofollow noopener noreferrer",
        target: "blank"  %>
</td>

 <td class="second"><h2><%= link_to link.title, link_path(link) %></h1> 
      <p><%= link.description %></p>
   
  
      <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
        
            <% if current_user == link.user|| current_user.class == User && current_user.admin == true %>
        <button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Edit', edit_link_path(link) %></button>
        <button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Edit Profile', edit_user_registration_path %></button>

        <button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <!-- </div> -->
</td>
      </tr>    
      <% end %>
    <% end %>
 
</table>
</div>

<br>

<%= link_to 'New Link', new_link_path %>


