<!-- <p id="notice"><%= notice %></p> -->

 
<div class="show">
  <table>
  	<tr>
 		<td><%= link_to (image_tag @link.image.url(:medium)), @link.url, rel: "nofollow noopener noreferrer", target: "blank" %>
 		
 		</td>

 		<td><h2>Description</h2>
 		<p><%= @link.description %></p>
 		</td>

 		<td> 
 			<div class="buttons_show">
				<% if current_user == @link.user %>
        		<%= link_to 'Edit', edit_link_path(@link) %>
        		<br>
        		<br>
        		<%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' } %>
        		<% end %>
			</div>
		</td>

 	</tr>
  	</table>
  	<div class="link_back"><%= link_to 'Back to the main page', links_path %></div> 

  	<h2>Comments</h2>
  	<p><span class="comments_count"> <%= @link.comments.count %> comments.</span></p>
 
  	<%= render partial: 'links/comments' %>
  	<%= render partial: 'links/comments_form' %>
</div>
            


